<!doctype html>
<html lang="fr">
<head>
	<meta charset="utf-8" />
	<title>Le baromètre des projets des français</title>

	<link rel="stylesheet" type="text/css" href="normalize.css" />
	<link rel="stylesheet" type="text/css" href="index.css" />
</head>
<body>

<div id="main" role="main">

	<div id="center">
		<h1><img src="images/le-barometre.png" alt="Le baromètre des projets des français" /></h1>

		<ul id="bm-tab-menu">
			<li><a href="#" data-href=":display/courant/:year/:month">Mois en cours</a></li
			><li><a href="#" data-href=":display/pouvoir/:year/:month">Pouvoir d'achat</a></li
			><li><a href="#" data-href=":display/epargne/:year/:month">&Eacute;pargne</a></li
			><li><a href="#" data-href=":display/consocourante/:year/:month">Consommation</a></li
			><li><a href="#" data-href=":display/immo/:year/:month">Achat immo</a></li
			><li><a href="#" data-href=":display/auto/:year/:month">Achat auto</a></li
			><li><a href="#" data-href=":display/actu/:year/:month">Actualité</a></li
			><li><a href="#" data-href=":display/apropos/:year/:month">À propos</a></li>
		</ul>
		
		<div id="bm-tabs">
			<div id="tab-pouvoir" class="tab">
				<div class="banner">
					<h2><span>&Eacute;volution du pouvoir d'achat</span></h2>
				</div>

				<div id="question-pouvoir" class="question">
				</div><!-- .question -->

				<hr style="border-width: 1px 0 0 0; margin-top: 20px;" />

				<div id="question-conso" class="question">
				</div><!-- .question -->
			</div><!-- .tab -->

			<div id="tab-epargne" class="tab">
				<div class="banner">
					<h2><span>Intentions d'épargne</span></h2>
				</div>

				<div id="question-epargne" class="question">

				</div><!-- .question -->
			</div><!-- .tab -->

			<div id="tab-consocourante" class="tab">
				<div class="banner">
					<h2><span>Intention de consommation courante</span></h2>
				</div>

				<div id="question-consocourante" class="question">
				</div><!-- .question -->
			</div><!-- .tab -->

			<div id="tab-immo" class="tab">
				<div class="banner">
					<h2><span>Intention achat immobilier</span></h2>
				</div>

				<div id="question-immo" class="question">
				</div><!-- .question -->
			</div><!-- .tab -->

			<div id="tab-auto" class="tab">
				<div class="banner">
					<h2><span>Intention achat automobile</span></h2>
				</div>

				<div id="question-auto" class="question">
				</div><!-- .question -->
			</div><!-- .tab -->

			<div id="tab-actu" class="tab">
				<div class="banner alt">
					<h2><span>Actualité</span></h2>
				</div>

				<div id="question-actu" class="question">
				</div><!-- .question -->
			</div><!-- .tab -->

			<div id="tab-apropos" class="tab">
				<p>Des propos bien à propos.</p>
			</div><!-- .tab -->
		</div><!-- #bm-tabs -->

	</div><!-- #center -->
</div><!-- #main -->

<script type="text/template" id="question-template">
	<ul class="display-menu">
		<li><a href="#" data-href="year/:tab/:year/:month">Affichage par année</a></li>
		<li><a href="#" data-href="month/:tab/:year/:month">Affichage par mois</a></li>
		<li><a href="#" data-href="evolution/:tab/:year/:month">Affichage par évolution</a></li>
	</ul>

	<ul class="year-menu" data-activable><%
		for ( var i=0,j=years.length;i<j;i++ ) { 
			%><li><a href="" data-href=":display/:tab/<%= years[i] %>/:month"><%= years[i] %></a></li><%
		}
	%></ul>

	<h3><%= question %></h3>

	<div class="month-menu">
		<div class="slider">
		</div>
		<ul class="months"><%
			for ( var month in months ) {
				%><li><div class="handle"></div><a href="#" data-href=":display/:tab/:year/<%= month %>"><abbr title="<%= months[month][1] %>"><%= months[month][0] %>.</abbr></a></li><%
			}
		%></ul>
	</div>

	<ul class="answers"></ul>

	<p class="more"><a href="#" class="<%= moreClassName %>"><%= moreLabel %></a></p>
</script>

<script type="text/template" id="item-year-menu-template">
	<% for ( var year in years ) { %><li class="<%= years[year].className %>"><a href="#<%= years[year].url %>"><%= year %></a></li><% } %>
</script>

<script type="text/template" id="answer-template">
	<div class="percentage"><div><span style="background:<%= background %>;"></span></div></div> <span class="heading"><%= title %></span>
</script>

<script id="bm-conso-question-month-template" type="text/template">
<% for (place in places) { %><li id="<%= places[place] %>" class="graph-container">
</li><% } %>
</script>

<script id="bm-conso-answer-month-template" type="text/template">
<div class="conso-graph-shell">
	<div class="conso-graph" >
		<img class="logo-conso" src="" alt=""></img>
		<div class="texte-conso">
			<span class="cercle-conso"></span>
			<div class="percentage-conso"><span>%</span></div>
			<div class="label-conso"></div>
		</div>
	</div>
</div>
</script>

<script>window.App = {};</script>
<!--<script src="script/activable.js"></script>-->
<script src="script/jquery.js"></script>
<script src="script/lodash.js"></script>
<script src="script/backbone.js"></script>
<script src="script/backbone.js"></script>
<script src="script/bpce.backbone.js"></script>
<script src="script/views/actualite_views.js"></script>
<script src="script/views/conso_views.js"></script>
<script src="script/views/apropos_views.js"></script>
<script src="script/views/automobile_views.js"></script>
<script src="script/views/consocourante_views.js"></script>
<script src="script/views/epargne_views.js"></script>
<script src="script/views/immo_views.js"></script>
<script src="script/views/pouvoir_views.js"></script>
<script src="script/views/manager.js"></script>
<script src="script/bpce.ui.js"></script>
<script src="script/bpce.slider.js"></script>
<script src="script/model.js"></script>
<script src="script/app.js"></script>
<script src="script/router.js"></script>
<script src="script/views/links.js"></script>
<script src="script/views/tabs.js"></script>
<script>

(function(window) {

App.ui.initialize();

App.router = new App.BarometreRouter({appView:App.view});

App.linksView = new App.LinksView({
	model: App.ui.model,
	el: $("#center")[0]
});

App.tabsView = new App.TabsView({
	model: App.ui.model,
	el: $("#bm-tab-menu")[0]
});

Backbone.history.start();

})(window);

</script>
</body>
</html>