<!doctype html>
<!--[if IE 8]><html class="ie8" lang="fr"><![endif]-->
<!--[if gt IE 8]><!--><html lang="fr"><!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Le barometre des projets des français</title>

	<link rel="stylesheet" type="text/css" href="css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="css/index.css" />
	<!--<link rel="stylesheet" type="text/css" href="css/barometre.all.css" />-->
	<link rel="stylesheet" type="text/css" href="http://fast.fonts.com/cssapi/2552d89d-2c54-490c-a920-27807cb7420a.css" />
	<script>
		window.App = {backendUrl: "http://bpceback.herokuapp.com/api"};
		// inline script/frame-bridge.js
		(function(a,c,d){function e(b){/^#/.test(b.data)?(App.hashFound=a.location=b.data,App.initialize()):b.data&&!isNaN(b.data)&&(d.body.style.fontSize=b.data+"px",c.postMessage(d.body.offsetHeight,"*"))}a==c?(App.hashFound=a.location.hash,d.documentElement.id="standalone"):(c.postMessage("hashRequest","*"),"addEventListener"in a?a.addEventListener("message",e,!1):a.attachEvent("onmessage",e))})(window,window.parent,document);
	</script>
	<!--<script src="script/frame-bridge.js"></script>-->
</head>
<body>

<div id="main" role="main">

	<div id="center">

		<ul id="tab-menu" role="menu">
			<li><a href="#" data-href=":display/courant/:year/:month" role="menuitem">Mois en cours</a></li
			><li><a href="#" data-href=":display/pouvoir/:year/:month" role="menuitem" aria-controls="tab-pouvoir">Pouvoir d'achat</a></li
			><li><a href="#" data-href=":display/epargne/:year/:month" role="menuitem" aria-controls="tab-epargne">&Eacute;pa&shy;rgne</a></li
			><li><a href="#" data-href=":display/consocourante/:year/:month" role="menuitem" aria-controls="tab-consocourante">Cons&shy;omm&shy;ation</a></li
			><li><a href="#" data-href=":display/immo/:year/:month" role="menuitem" aria-controls="tab-immo">Achat immo</a></li
			><li><a href="#" data-href=":display/auto/:year/:month" role="menuitem" aria-controls="tab-auto">Achat auto</a></li
			><li><a href="#" data-href="month/actu/:year/:month" role="menuitem" aria-controls="tab-actu">Actu&shy;alité</a></li
			><li><a href="#" data-href=":display/apropos/:year/:month" role="menuitem" aria-controls="tab-apropos">À pro&shy;pos</a></li>
		</ul>

		<style id="years-style">
		</style>
		
		<div id="tabs" role="navigation">
			<div id="tab-pouvoir" class="tab">
				<div class="banner">
					<h2><span>&Eacute;volution du pouvoir d'achat</span></h2>
				</div>

				<div id="question-pouvoir" class="question">
				</div><!-- .question -->

				<hr style="border-width: 1px 0 0 0; margin-top: 20px;" />

				<div id="question-conso" class="question">
				</div><!-- .question -->
			</div><!-- .tab -->

			<div id="tab-epargne" class="tab">
				<div class="banner">
					<h2><span>Intentions d'épargne</span></h2>
				</div>

				<div id="question-epargne" class="question">

				</div><!-- .question -->
			</div><!-- .tab -->

			<div id="tab-consocourante" class="tab">
				<div class="banner">
					<h2><span>Intention de consommation courante</span></h2>
				</div>

				<div id="question-consocourante" class="question">
				</div><!-- .question -->
			</div><!-- .tab -->

			<div id="tab-immo" class="tab">
				<div class="banner">
					<h2><span>Intention achat immobilier</span></h2>
				</div>

				<div id="question-immo" class="question">
				</div><!-- .question -->
			</div><!-- .tab -->

			<div id="tab-auto" class="tab">
				<div class="banner">
					<h2><span>Intention achat automobile</span></h2>
				</div>

				<div id="question-auto" class="question">
				</div><!-- .question -->
			</div><!-- .tab -->

			<div id="tab-actu" class="tab">
				<div class="banner alt">
					<h2><span>Actualité</span></h2>
				</div>

				<div id="question-actu" class="question">
				</div><!-- .question -->
			</div><!-- .tab -->

			<div id="tab-apropos" class="tab">
				<div class="wrapper">
					<ul class="logos" aria-hidden="true"
						><li class="logo-bpce"></li
						><li class="logo-echos"></li
						><li class="logo-fi"></li
						><li class="logo-via"></li
					></ul>
					<p>
						BPCE, Les Echos, France Info et Viavoice créent le baromètre mensuel des projets des Français
						pour proposer des indicateurs d’anticipation de la conjoncture économique en France et évaluer
						la façon dont les Français s’approprient la crise économique actuelle et la transcrivent dans
						leurs anticipations de comportements.<br/>
						Le sondage repose sur un échantillon de plus de 1 000 personnes représentatif de la population 
						française âgée de 18 ans et plus.
					</p>
					<p>
						<b>LES QUESTIONS DU BAROM&Egrave;TRE</b><br/>
						<b>Évolution du pouvoir d’achat</b> : au cours des trois prochains mois, votre pouvoir d'achat va-t-il
						augmenter ?<br/>
						<b>Intention d’épargne</b> : envisagez-vous de mettre plus d'argent de côté que ces derniers mois ?<br/>
						<b>Intention de consommation courante</b> : au cours des trois prochains mois, pour l’alimentation ou 
						l’habillement, envisagez-vous de dépenser plus d’argent que ces derniers mois ?<br/>
						<b>Intention d’achat immobilier</b> : au cours des trois prochains mois, envisagez-vous d’acheter une
						maison ou un appartement ?<br/>
						<b>Intention d’achat d’automobile</b> : au cours des trois prochains mois, envisagez-vous d’acheter ou
						de changer de voiture ?
					</p>
					<p>
						A ces questions s’ajoute chaque mois une question liée à l’actualité.
					</p>
				</div><!-- .wrapper -->
			</div><!-- .tab -->
		</div><!-- #bm-tabs -->

	</div><!-- #center -->
</div><!-- #main -->

<script type="text/template" id="question-template">
	<ul class="display-menu" role="menu">
		<li class="year-display" role="menuitem"><a href="#" data-href="year/<%= tab %>/:year/:month">Affichage par année</a></li>
		<li class="month-display" role="menuitem"><a href="#" data-href="month/<%= tab %>/:year/:month">Affichage par mois</a></li>
		<li class="evolution-display" role="menuitem"><a href="#" data-href="evolution/<%= tab %>/:year/:month">Affichage par évolution</a></li>
	</ul>

	<ul class="year-menu" role="menu"><%
		for ( var i=0,j=years.length;i<j;i++ ) {
			%><li class="year-<%= years[i] %>" role="menuitem"><a href="" data-href=":display/<%= tab %>/<%= years[i] %>/:month"><%= years[i] %></a></li><%
		}
	%></ul>

	<h3><%= question %></h3>

	<div class="month-menu">
		<div class="slider"></div>
		<ul class="months" role="menu"><%
			for ( var month in months ) {
				%><li class="month-<%= month %>" role="menuitem"><div class="handle"></div><a href="#" data-href=":display/<%= tab %>/:year/<%= month %>"><abbr title="<%= months[month][1] %>"><%= months[month][0] %>.</abbr></a></li><%
			}
		%></ul>
	</div>

	<div class="visualization">
		<ul class="answers" aria-live="assertive" role="list"></ul>
	</div>

	<p class="more"><a href="" data-href=":display/<%= tab %>/:year/:month" class="<%= moreClassName %>"><%= moreLabel %></a></p>
</script>

<script type="text/template" id="years-style-template"><%
	for ( var i=0,j=years.length;i<j;i++ ) {
		%>.year-<%= years[i] %> .year-<%= years[i] %> > a,<%
	} %> #null {
		background: #651878;
		color: #FFF;
		visibility: visible;
	}
</script>

<script type="text/template" id="answer-template">
	<div class="percentage"><div><span style="background:<%= background %>;">&nbsp;</span></div></div> <span class="heading"><%= title %></span>
</script>

<!-- ####==================== CONSO QUESTION & ANSWER TEMPLATE ====================#### -->
<script id="bm-conso-question-month-template" type="text/template">
<% for (place in places) { %><li id="<%= places[place] %>" class="graph-container">
</li><% } %>
<% for (type in types) { %><li id="<%= type %>" class="line-container">
</li><% } %>
<div class="conso-first-bar">
</div>
<div class="conso-second-bar">
</div>
</script>

<script id="bm-conso-answer-month-template" type="text/template">
<div class="conso-graph-shell">
	<div class="conso-graph" >
		<span class="icon-conso"></span>
		<div class="texte-conso">
			<span class="cercle-conso purple-circle" aria-hidden="true" ></span>
			<div class="percentage-conso"><span id="percentage-conso-value"></span><span class="percentage-conso-small">%</span></div>
			<div class="label-conso"></div>
		</div>
	</div>
</div>
</script>

<script id="bm-conso-answer-all-template" type="text/template">
<div class="sub-line-container">
	<div class="conso-place-cell">
		<span class="conso-all-place"></span>
	</div>
	<div class="conso-background-label">
		<div class="conso-label">
		</div>
	</div>
	<div class="ruler">
		<span class="conso-icon-ranking" aria-hidden="true" ></span>
	</div>
	<div class="percentage-conso-all"><span id="percentage-conso-value"></span><span class="percentage-conso-small">%</span></div>
</div>
</script>
<!-- ####=========================================================================#### -->

<!-- ####====================  ====================#### -->
<script id="question-month-template" type="text/template"><%
	for ( var i = -1, l = App.ui.questions[type].answers.length; ++i < l; ) {
		%><li role="listitem" class="<%= App.ui.questions[type].answers[i].className %>"><div class="percentage"><div><span style="background:<%= App.ui.colors._default[ i == l - 1 ? App.ui.colors._default.length - 1 : i ] %>;color:<%= App.ui.colors.font[ i == l - 1 ? App.ui.colors.font.length - 1 : i ] %>"></span></div></div> <span class="heading"><%= App.ui.questions[type].answers[i].label %></span></li><%
	} %>
</script>

<script id="question-actu-month-template" type="text/template"><%
	for ( var i = -1, l = App.ui.questions[type].answersMaxLength; ++i < l; ) {
		%><li id="<%= i %>-element" role="listitem"><div class="percentage"><div><span style="background:<%= App.ui.colors._default[ i == l - 1 ? App.ui.colors._default.length - 1 : i ] %>;color:<%= App.ui.colors.font[ i == l - 1 ? App.ui.colors.font.length - 1 : i ] %>"></span></div></div> <span id="<%= type %>-month-answer-text" class="heading"></span></li><%
	} %>
</script>
<!-- ####=========================================================================#### -->

<!-- ####==================== EVOLUTION QUESTION TEMPALTE ====================#### -->
<script id="evo-line-button" type="text/template">
	<span><%= text %></span>
</script>
<!-- ####=========================================================================#### -->

<!-- ####==================== EVOLUTION QUESTION TEMPALTE ====================#### -->
<script id="no-data-template" type="text/template">
<li class="no-data">Aucune donnée disponible pour ce mois.</li>
</script>
<script id="no-data-year-evolution-template" type="text/template">
<div class="no-data">Aucune donnée disponible pour cette année.</div>
</script>
<script id="no-data-year-template" type="text/template">
<li class="no-data">Aucune donnée disponible pour cette année.</li>
</script>
<!-- ####=========================================================================#### -->

<script id="question-year-template" type="text/template"><%
	for ( var i = -1, l = Math.min(App.ui.questions[type].answers.length, 5); ++i < l; ) {
		%><li class="year-answer"><div class="year-answer-circle" style="color:<%= type == 'conso' ? App.ui.colors.conso[i] : App.ui.colors._default[ i == l - 1 ? App.ui.colors._default.length - 1 : i ] %>;"></div><div class="year-answer-label"><%= App.ui.questions[type].answers[i].label %></div></li><%
	} %>
</script>

<script id="question-year-month-template" type="text/template">
	<h4><%= month %> <span></span></h4>
	<ul class="month-percentages"><%
		for ( var i = -1; ++i < answersLength; ) {
			%><li></li><%
		}
	%></ul>
</script>

<script src="script/libs/jquery.js"></script>

<script src="script/libs/lodash.js"></script>
<script src="script/libs/backbone.js"></script>
<script src="script/libs/raphael.js"></script>
<script src="script/libs/g.raphael.js"></script>
<script src="script/libs/g.line.js"></script>

<script src="script/app.js"></script>

<script src="script/views/Links.js"></script>
<script src="script/views/TabMenu.js"></script>
<script src="script/views/DisplayMenu.js"></script>
<script src="script/views/YearMenu.js"></script>
<script src="script/views/MonthMenu.js"></script>

<script src="script/views/QuestionMonth.js"></script>
<script src="script/views/QuestionEvolution.js"></script>
<script src="script/views/QuestionYear.js"></script>
<script src="script/views/actualite_views.js"></script>
<script src="script/views/conso_views.js"></script>

<script src="script/bpce.ui.js"></script>
<script src="script/views/manager.js"></script>
<script src="script/bpce.slider.js"></script>
<script src="script/model.js"></script>
<script src="script/router.js"></script>

<!--<script src="script/barometre.all.min.js"></script>-->

<!--[if IE 8]>
<script src="script/libs/jQuery.XDomainRequest.js"></script>
<script src="script/libs/PIE.js"></script>
<![endif]-->

</body>
</html>